<div class="container-fluid">
    <div class="row">
    	<div class="col-md-6">
			<div ng-controller="coursesByUserCrtl">
					  	<table st-table="courses" class="table table-striped">
	        				<tbody >
	        					<tr ng-repeat="(index, course) in courses">
	        				      <td>{{index}}</td>

	        				      <td>{{course['5fc0d645-e1c9-400e-8dc9-0988f686780e']}}</td>
	        				      <!-- <td>{{x}}</td> -->
		        				    
	        				      <td>{{coursenumber}}</td>
	        				      <td>
	        				        <ul ng-repeat="item in course">
	        				      		<li>{{item.firstname}}</li>
	        				      	</ul>
	        				      </td>
	        				      <td>{{x}}</td>

	        				    </tr>  
		        				</tbody>
				        </table>
			</div>
		</div>
	</div>
</div>


