
		  <div class="row">
		    	<div class="col-md-6">
			    <h2>Courses Available</h2>
	    			<div ng-controller="CourseDetailCrtl">
	    				<h2>Class Detail for {{ currentUser.firstname}}</h2>
						<p>Course ID{{model.message}}</p>

						<p>credits: {{model.classDetail.Credits}}</p>
					  	<table st-table="courses" class="table table-striped">
		        				<thead>
									<colgroup>
									       <col span="1" style="width: 35%;">
									       <col span="1" style="width: 35%;">
									       
									  </colgroup>
			        				<tr>
			        					<th colspan="3" st-sort="courseName">NSF Fellows In this Course</th>
			        				</tr>
		        				</thead>
				        				<tbody>
					        				<tr ng-repeat="course in courses">
						        					<td>{{course.firstname}}</td>
						        					<td>{{course.lastname}}</td>
						        					<td>{{course.coursenumber}}</td>

					        				</tr>
				        				</tbody>
				        </table>
					</div>
		    	</div>
		
		
  </div>
