<div class="container-fluid">
		  <div class="row">
		    	<div class="col-md-6">
	    			<div ng-controller="CourseDetailCrtl">
			    <h2>{{courseDetails.coursename}} <code>{{courseDetails.coursenumber}}</code></h2>
	    				<div class="bs-callout bs-callout-warning" id="callout-inputgroup-container-body">
	    				<h4>Harvard Kennidy School</h4>
	    				<p>Course Meetings: <code>{{courseDetails.schedule}}</code></p>
						<p>Credits <code>{{courseDetails.credits}}</code></p>
						<p>Faculty <code>{{courseDetails.faculty}}</code></p>

	    				 <p>Today's leaders must </p> </div>
	    				 <br>
						<a href="http://www.hks.harvard.edu/degrees/teaching-courses/course-listing/{{courseDetails.coursenumber}}">More Information</a>
						<hr>
	    				<code>Other NSF Fellows In this Course</code>
					  	<table st-table="courses" class="table table-striped">
		        				<thead>
									<colgroup>
									       <col span="1" style="width: 35%;">
									       <col span="1" style="width: 15%;">

									       
									  </colgroup>
			        				<tr>
			        					<th colspan="1" st-sort="courseName">Names</th>
			        					<th colspan="1" st-sort="courseName">Position</th>
			        				</tr>
		        				</thead>
				        				<tbody>
					        				<tr ng-repeat="course in courses">
						        					<td>{{course.firstname}} {{course.lastname}}</td>
						        					
						        							<td>		
						        					      	 	<button type="button" class="btn btn-warning">{{$index +1}}</button>
						        							</td>
						        						
					        				</tr>
				        				</tbody>
				        </table>
					</div>
		    	</div>
		
		
 		</div>
</div>

