 <div ng-controller="RegistrationController">
 	<h2 align="center">Course Selections for {{currentUser.firstname}} {{currentUser.lastname}} </h2>
</div>
    <div class="container-fluid">
		  <div class="row">
		        <div class="col-md-12">
		       <!-- Column for selecting classes 	 -->
			    <h2 align="center" style="margin-bottom:59px"></h2>
	        	<div ng-controller="MyCourseList">
	        			<table st-table="courses" class="table table-hover">
	        				<thead style="background-color: #f9f9f9;">
	        				<tr>
	        					<th colspan="2">Priority</th>
	        					<th>Course Name</th>
	        					<th> Course Number</th>
	        					<th>Days / Times</th>
	        					<th width="5%">Credits</th>
	        					<th>Faculity</th>
	        				</tr>
	        				</thead>
	        				<tbody>
	        				<!-- <tbody sortable> -->

	
		        				<tr ng-hide="userCourses.length > 0" >
		        					<td colspan="7"><a ng-href="#/selectclasses">Please Select Courses</td>
		        				</tr>	

		        				<tr ng-show="userCourses" ng-repeat="course in userCourses | orderBy: 'priority'">

		        					<td style="vertical-align:middle;">
		        					<button ng-class="{'btn btn-success':{{course.priority}} <= 3, 'btn btn-warning':{{course.priority}} == 4, 'btn btn-danger':{{course.priority}} > 4}">
		        							{{course.priority}}
		        						</button>
		        					</td>
		        					<td align="left" style="width:12px; vertical-align:middle;">
		        						<!-- <button type="button" ng-click="upPriority(course)">
		        							<span style="font-size:0.6em" class="glyphicon glyphicon-triangle-top"></span>
		        						</button>
		        						<button type="button" ng-click="downPriority(course)">
		        							<span style="font-size:0.6em" class="glyphicon glyphicon-triangle-bottom"></span>
		        						</button> -->
		        					</td>
		        					<td> <a ng-href="#/coursedetail/{{course.courseID}}">{{course.coursetitle}}</a></td>
		        					<td>{{course.coursenumber}}</td>
		        					<td>{{course.schedule}}</td>
		        					<td>{{course.credits}}</td>
		        					<td >{{course.faculty}}</td>
		        					
		        				</tr>

	        				</tbody>
	        				
	        			</table>
	        				
	        		</div>
		        </div>
		  </div>
	</div>

     
</div>




						