	 <div ng-controller="RegistrationController">
	<h2 align="center">Classes Offered For {{ currentUser.firstname}} {{ currentUser.lastname}} </h2>
</div>
    <div class="container-fluid">
		  <div class="row">
		    	<div class="col-md-6">
						    <h2>Courses Available</h2>
		    			<div ng-controller="CourseListCtrl">
						  			<table st-select-row="row" st-select-mode="multiple" st-table="displayedCollection"  class="table table-striped">
					        				<thead>
					        				<tr>
					        					<th st-sort="courseName">Course Name</th>
					        					<th st-sort="courseNumber">Course Number</th>
					        					<th st-sort="birthDate">Days</th>
					        					<th st-sort="courseNumber">Credits</th>
					        					<th st-sort="balance">Faculity</th>
					        				</tr>
					        				
					        				</thead>
					        				<tbody>
					        				<tr ng-repeat="course in courses">
						        					<td>{{course['Course Title']}}</td>
						        					<td>{{course.Number}}</td>
						        					<td>{{course.Days}}</td>
						        					<td>{{course.Credits}}</td>

						        					<td>{{course.Faculty}}</td>
					        					<td>
					        					<button type="button" ng-click="addItem(row)" class="btn btn-sm btn-success">
					        						<i class="glyphicon glyphicon-remove-circle">
					        						</i>
					        					</button>
					        					</td>
					        				</tr>
					        				</tbody>
					        			</table>
						    
						</div>

		    	</div>
		        
		        <div class="col-md-6">
			        		<h2>My Courses</h2>
					        	<div ng-controller="safeCtrl">
					        			<button type="button" ng-click="addRandomItem(row)" class="btn btn-sm btn-success">
					        				<i class="glyphicon glyphicon-plus">
					        				</i> Add random item
					        			</button>

					        			<table st-select-row="row" st-select-mode="multiple" st-table="displayedCollection"  class="table table-striped">
					        				<thead>
					        				<tr>
					        					<th st-sort="courseName">Course Name</th>
					        					<th st-sort="courseNumber">Course Number</th>
					        					<th st-sort="birthDate">Days</th>
					        					<th st-sort="balance">Faculity</th>
					        					<th st-sort="balance">Manage</th>

					        				</tr>
					        				
					        				</thead>
					        				<tbody>
					        				<tr ng-repeat="row in displayedCollection">
					        					<td>{{row.Number}}</td>
					        					<td>{{row.Number}}</td>
					        					<td>{{row.Number}}</td>
					        					<td>{{row.Number}}</td>
					        					<td>
					        					<button type="button" ng-click="removeItem(row)" class="btn btn-sm btn-danger">
					        						<i class="glyphicon glyphicon-remove-circle">
					        						</i>
					        					</button>

					        					</td>
					        				</tr>
					        				</tbody>
					        			</table>

					        		</div>
		        </div>
		  </div>
	</div>


     
</div>




						