	 <div ng-controller="RegistrationController">
	<h2 align="center">Course Selections for {{currentUser.firstname}} {{currentUser.lastname}} </h2>
</div>
    <div class="container-fluid">
		  <div class="row">
		    	<div class="col-md-6">
			    <h2 align="center">Courses Available</h2>
	    			<div ng-controller="CourseListCtrl">
					  	<table st-table="courses" class="table table-striped">
	        				<thead>
        						<th colspan="6">
										<input style="font-weight:bolder" placeholder="type/search for anything below...." onfocus="this.placeholder = ''" onblur="this.placeholder = 'type/search for anything below....'" ng-model="query" />
								</th>
								<colgroup>
								       <col span="1" style="width: 35%;">
								       <col span="1" style="width: 15%;">
								       <col span="1" style="width: 15%;">
								       <col span="1" style="width: 5%;">
								       <col span="1" style="width: 15%;">
								       <col span="1" style="width: 5%;">
								  </colgroup>
		        				<tr>
		        					<th ="courseName">Name</th>
		        					<th ="Number">Number</th>
		        					<th ="Days">Days</th>
		        					<th ="Days">Term</th>
		        					<th ="Credits">Credits</th>
		        					<th ="Faculity">Faculity</th>
		        					<th ="">Add</th>   

		        				</tr>
	        				</thead>
		        				<tbody>
			        				<tr ng-repeat="course in courses | filter: query">
				        					<td> <a ng-href="#/coursedetail/{{course.$id}}">{{course.coursetitle}}</a></td>
				        					<td>{{course.coursenumber}}</td>
				        					<td>{{course.schedule}}</td>
				        					<td>{{course.term}}</td>
				        					<td>{{course.credits}}</td>
				        					<td>{{course.faculty}}</td>
			        				<td>
		        					<button type="button" ng-click="addCourse(course)" class="btn btn-sm btn-success">
		        						<i><span class="glyphicon glyphicon-plus"></span>  <span class="glyphicon glyphicon-arrow-right"></span></i>
		        					</button>
		        					</td> 
			        				</tr>
		        				</tbody>
				        </table>
					</div>
		    	</div>
		        <div class="col-md-6">
		       <!-- Column for selecting classes 	 -->
			    <h2 align="center" style="margin-bottom:59px">My Courses</h2>
	        	<div ng-controller="MyCourseList">
	        			<table st-table="courses" class="table table-hover" id="mytable">
	        				<thead style="background-color: #f9f9f9;">
	        				<tr>
	        					<th colspan="2">Priority</th>
	        					<th>Name</th>
	        					<th>Number</th>
	        					<th>Days</th>
	        					<th>Credits</th>
	        					<th>Faculity</th>
	        					<th>Remove</th>
	        				</tr>
	        				</thead>
	        				<tbody>
	        				<!-- <tbody sortable> -->

		        			    <tr ng-show="showClass == true">
		        			    	<td colspan="">
		        			    		<div align="center"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Add Classes</div>
		        					</td>
		        			    </tr>

		        				<tr ng-repeat="course in userCourses | orderBy:'priority'">
		        					<td style="vertical-align:middle;">
		        						{{course.courseID}}<button ng-class="{'btn btn-success':{{course.priority+1}} <= 3, 'btn btn-warning':{{course.priority+1}} == 4, 'btn btn-danger':{{course.priority+1}} > 4}">
		        							{{course.priority+1}}
		        						</button>
		        					</td>
		        					<td align="left" style="width:12px; vertical-align:middle;">
		        						<button type="button" ng-hide="$first" ng-click="moveUpChoice($index, course.courseID)">
		        							<span style="font-size:0.6em" class="glyphicon glyphicon-triangle-top"></span>
		        						</button>
		        						
		        						<button type="button" ng-hide="$last" ng-click="moveDownChoice($index, course.courseID)">
		        							<span style="font-size:0.6em" class="glyphicon glyphicon-triangle-bottom"></span>
		        						</button>
		        					</td>
		        					<td> <a ng-href="#/coursedetail/{{course.courseID}}">{{course.coursetitle}}</a></td>
		        					<td>{{course.coursenumber}}</td>
		        					<td>{{course.schedule}}</td>
		        					<td>{{course.credits}}</td>
		        					<td >{{course.faculty}}</td>
		        					<td style="text-align: center;">
		        						<button type="button" ng-click="removeCourse(course)" class="btn btn-sm btn-danger">
		        							<i class="glyphicon glyphicon-remove">
		        							</i>
		        						</button>
		        					</td>
		        				</tr>

	        				</tbody>
	        				
	        			</table>

	        				
	        		</div>
		        </div>
		  </div>
	</div>

     
</div>




						